.audioCard_box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 4rem);
  gap: 1rem;
  border-radius: 2rem;
  background-color: var(--main-bg-color);
  transition: all 0.3s ease-in;
  overflow: hidden;
}
.audioCard_box:hover {
  box-shadow: var(--box-shadow);
}
.audioCard_box_like_time {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  line-height: 0;
  z-index: 3124;
}
.audioCard_box_like {
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 1.3rem;
  border-radius: 2rem;
  cursor: pointer;
  margin: 1rem;
  overflow: hidden;
}
.audioCard_box_like_icon {
  color: red;
  font-size: 2rem;
}
.audioCard_box_like_icon_unlike {
  color: red;
  font-size: 2rem;
}

.audioCard_box_time {
  background-color: var(--main-bg-color);
  padding: 1rem 3rem;
  margin-right: -1.4rem;
  transform: skewX(35deg);
  border-bottom-left-radius: 1rem;
}
.audioCard_box_time_remaining {
  transform: skewX(-35deg);
  text-align: center;
}
.audioCard_box_time_remaining small {
  font-weight: 500;
}
.audioCard_box_time_remaining h5 {
  font-size: 1.5rem;
  margin-top: 1.6rem;
}

.audioCard_box_player {
  grid-column: 1/-1;
  grid-row: 4/5;
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  gap: 3.5rem;
  z-index: 3124;
  align-items: center;
}

.audioCard_box_musicPlayer_icon {
  padding: 1.3rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  font-size: 2rem;
  cursor: pointer;
}
.audioCard_box_img {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.audioCard_box_details {
  grid-column: 1/-1;
  grid-row: 5/-1;
  z-index: 1234;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  padding: 1rem 0;
  width: 90%;
  border-top-right-radius: 2rem;
  padding: 2rem;
  line-height: 0.1;
}
.audioCard_box_details_info h4 {
  font-size: 1.1rem;
  line-height: 0;
}
.audioCard_box_details_info_price {
  border: 1px solid var(--icons-color);
  padding: 0.2rem 0.5rem;
  text-align: center;
  border-radius: 0.3rem;
  height: auto;
  cursor: pointer;
}

.audioCard_box_details_info_price small {
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
}
.audioCard_box_details_info_price p {
  line-height: 1.2;
  font-weight: 700;
}

.audioCard_box_details_stock {
  text-align: end;
  display: grid;
}
.audioCard_box_details_stock small {
  margin-top: 2rem;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .audioCard_box_time {
    padding-inline: 2rem;
  }
  .audioCard_box_time_remaining {
    font-size: 1rem;
  }
  .audioCard_box_time_remaining h5 {
    font-size: 1rem;
  }
  .audioCard_box_details {
    padding: 1rem;
  }
  .audioCard_box_player {
    justify-content: center;
    gap: 1rem;
  }
  .audioCard_box_player img {
    display: none;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .audioCard_box_time_remaining h5 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .audioCard_box_time {
    padding: 1rem 2rem;
  }
  .audioCard_box_time_remaining h5 {
    font-size: 1rem;
  }
}
