.AuthorTaps {
  width: 80%;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 3rem;
}
.AuthorTaps_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.AuthorTaps_box_left_btn {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  align-items: flex-start;
}
.AuthorTaps_box_left_btn button {
  border: 1px solid var(--icons-color);
  outline: 0;
  background-color: var(--main-bg-color);
  font-size: 1rem;
  border-radius: 2rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  color: var(--icons-color);
}
.AuthorTaps_box_left_btn .active {
  border: 1px solid var(--icons-color);
  background-color: var(--icons-color);
  color: var(--main-bg-color);
}
.AuthorTaps_box_left_btn button:hover {
  border: 1px solid var(--icons-color);
  background-color: var(--icons-color);
  color: var(--main-bg-color);
}
.AuthorTaps_box_right {
  position: relative;
}
.AuthorTaps_box_right_para {
  border: 1px solid var(--icons-color);
  border-radius: 2rem;

  padding: 0 0.5rem;
  display: grid;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  grid-template-columns: 9fr 1fr;
}

.AuthorTaps_box_right_para p {
  font-size: 1rem;
  line-height: 0.5;
}

.AuthorTaps_box_right_list {
  background-color: var(--main-bg-color);
  padding: 1rem;
  width: 16rem;
  left: 1rem;
  position: absolute;
  z-index: 999999;
  border-radius: 1rem;
  margin-top: 1.5rem;
  box-shadow: var(--box-shadow);
}
.AuthorTaps_box_right_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 0;
  padding-right: 1rem;
}

.AuthorTaps_box_right_list_item p {
  transition: all 0.3s ease-in;
  padding: 0 1rem;
  line-height: 1;
  cursor: pointer;
}
.AuthorTaps_box_right_list_item:hover {
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  border-radius: 0.2rem;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .AuthorTaps {
    width: 90%;
  }
  .AuthorTaps_box_left_btn {
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    overflow-y: auto;
  }
  .AuthorTaps_box_left_btn::-webkit-scrollbar {
    height: 0;
  }
  .AuthorTaps_box_left_btn button {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .AuthorTaps_box {
    flex-direction: column;
  }
  .AuthorTaps_box_right {
    margin-top: 2rem;
  }
  .AuthorTaps_box_right_para {
    width: -moz-fit-content;
    width: fit-content;

    padding: 0 1rem;
    grid-template-columns: 9fr 1fr;
  }
  .AuthorTaps_box_right_para p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .AuthorTaps {
    width: 90%;
  }
  .AuthorTaps_box_left_btn {
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    overflow-y: auto;
  }
  .AuthorTaps_box_left_btn::-webkit-scrollbar {
    height: 0;
  }
  .AuthorTaps_box_left_btn button {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .AuthorTaps_box {
    flex-direction: column;
  }
  .AuthorTaps_box_right {
    margin-top: 2rem;
  }
  .AuthorTaps_box_right_para {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 1rem;
    grid-template-columns: 9fr 1fr;
  }
  .AuthorTaps_box_right_para p {
    font-size: 1rem;
  }
  .AuthorTaps_box_right_list {
    left: 0rem;
    top: 2rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .AuthorTaps {
    width: 90%;
  }
  .AuthorTaps_box_right_para {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 1rem;
    grid-template-columns: 9fr 1fr;
  }
  .AuthorTaps_box_left_btn {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    align-items: flex-start;
  }
  .AuthorTaps_box_left_btn button {
    font-size: 0.875rem;
  }
  .AuthorTaps_box_right_para p {
    font-size: 1rem;
  }
  .AuthorTaps_box_right_list {
    left: -1rem;
    top: 2rem;
  }
}
